.container{
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border-radius: 10px;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.158);
    margin: 25px 0;
    border-bottom: 4px solid #228B22;
    border-left: 4px solid #228B22;*/
}
@media (max-width: 425px) {
    .container{
        width: 95%;
    }
    .cardInput{
        width: 80%;
        margin: 0px;
        padding: 0;
    }
    .reservationInput{
        margin-bottom: 10px;
    }
}
.title{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-bottom: 20px;
}
.cardInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: smaller;
}
.reservationInput{
    height: 35px;
    width: 100%;
    font-size: larger;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.158);
    color: rgba(0, 0, 0, 0.692);
}
.reservationBtn{
    height: 50px;
    width: 40%;
    background-color: #228B22;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.158);
    margin: 25px 0;
    cursor: pointer;
}