.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeContainer {
  width: 768px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeTitle {
  font-family: Helvetica, sans-serif;
  font-size: xx-large;
  border-bottom: 3px solid black;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 10px;
}

.originContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}

.destinationContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.selectOrigin {
  font-size: larger;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid navy;
  color: navy;
  cursor: pointer;
}

.selectDestination {
  font-size: larger;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid navy;
  color: navy;
  cursor: pointer;
}

.selectDate {
  font-size: larger;
  width: 95%;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid navy;
  color: navy;
  cursor: pointer;
}

.selectOrigin:hover,
.selectDestination:hover {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(18, 83, 204);
}

.smallText {
  margin: 10px 0px;
  font-size: medium;
}

.dateAndPerson {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dateSelect {
  height: 60px;
  width: 90%;
  font-size: large;
}

.dateAndPerson {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  width: 80%;
}

@media (max-width: 425px) {
  .dateAndPerson {
    flex-direction: column;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .customSelect {
    font-size: medium;
    margin-top: 5px;
    padding: 0;
    color: navy;
    background-color: white;
    z-index: 3;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    border: 1px solid navy;
    border-bottom: none;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.349);
  }
  .selectDate {
    font-size: larger;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid navy;
    color: navy;
    cursor: pointer;
  }
  .customOption{
    border-bottom: 1px solid navy;
    height: 100%;
    /* width: 100%; */
    margin: 0;
    padding: 12px;
    margin-top: 10px;
  }
}

/* @media(min-width: 768px){
  .dateContainer{
    background-color: orange;
    width: 35%;
  }
  .personContainer2{
    background-color: yellow;
    width: 35%;
  }
  
} */

.personContainer {
  display: none;
  flex-direction: column;
  width: 35%;
  margin: 0;
  opacity: 0;
  transition: display 0s, opacity 0.5s linear;
}
.personContainer2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

.btnsInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.minorMayorBtn {
  height: 60px;
  width: 60px;
  border: none;
  background-color: navy;
  color: oldlace;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}
.reserveBtn {
  height: 60px;
  width: 40%;
  margin-top: 20px;
  border: none;
  font-size: x-large;
  font-weight: bold;
  background-color: navy;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.262);
  cursor: pointer;
}
.fieldPassengersContainer {
  display: flex;
  flex-direction: column;
}
.fieldPassengers {
  font-size: 50px;
  margin: 0;
  color: navy;
}
.fieldPassengerAlert {
  font-size: x-small;
  color: crimson;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.262);
  margin: 0;
}
.customSelect {
  font-size: medium;
  margin-top: 5px;
  padding: 0;
  color: navy;
  background-color: white;
  z-index: 3;
  position: absolute;
  width: 45%;
  border-radius: 5px;
  border: 1px solid navy;
  border-bottom: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.349);
}
.customOption {
  border-bottom: 1px solid navy;
  height: 100%;
  margin: 0;
  padding: 12px;
}
.disable {
  background-color: rgba(0, 0, 0, 0.301);
}
.errors {
  color: crimson;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.262);
  font-size: small;
  margin-top: 10px;
  margin-bottom: 0;
}
